<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @fortune.author %>
</p>

<p>
  <b>Body:</b>
  <%= @fortune.body %>
</p>


<%= link_to 'Edit', edit_fortune_path(@fortune) %> |
<%= link_to 'Back', fortunes_path %>



<% if @fortune.comments.any? %>
  <h2>Komentarze:</h2>
  <% @fortune.comments.each do |comment| %>
   <p>Autor: <%= comment.author %></p>
   <div class="comment">
     <b>Komentarz:</b> <%= comment.quotation %>
   </div>
   <p>
     <%= link_to "Delete", [@fortune, comment], :confirm => t('helpers.data.sure'), :method => :delete %>
   </p>
  <% end %>
<% end %>


<h2>Dodaj komentarz:</h2>
<%= simple_form_for [@fortune, @fortune.comments.build] do |f| %>
  <%= f.input :author, :input_html => {:size => 40} %>
  <%= f.input :quotation, :input_html => {:rows => 4, :cols => 40} %>
  <%= f.button :submit %>
<% end %>


